


/* Bootstrap default font-family is Helvetica Neue */

/* images gotten from https://unsplash.com/images/stock */
/*  Logo gotten from https://www.freepik.com/ */
h1 {
  font-family: "Times New Roman", Times, serif;
  text-shadow: 3px 3px 1px black;
  
}
#location{
  float: left;
}

table{
  width: 30%;
}

nav .navbar-nav li a{
  color: white !important;
  }